body {
  display: grid;

  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  height: 100vh;
}

main {
  padding: 1rem;
  overflow: auto;
}

footer nav {
  display: flex;
}
footer nav ul {
  display: flex;
  list-style: none;
}
