body {
  display: grid;

  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  height: 100vh;
}

main {
  padding: 1rem;
  overflow: auto;
}

footer nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer nav ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}
