{% set navPages = collections.all | eleventyNavigation %}

<nav>
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({activeListItemClass: "active"}) | safe }}
    {{ collections.cosmicdata   | cosmicDataNavigationItem  | eleventyNavigationToHtml({activeListItemClass: "active"}) | safe }}
</nav>
