<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/css/reset.css">

</head>


<body>
    {% include 'header.html' %}

    {% if bucket %}
    {{ bucket.content | safe  }}
    {% endif %}

    {{ content | safe }}
</body>

</html>
