<!DOCTYPE html>
<html>

    <head>
        <title>{{ title }}</title>
        {% set css %}{% include "css/reset.css" %}{% include "css/layout.css" %}{% endset %}
        <!-- feed it through our cssmin filter to minify -->
        <style>
            {{css | cssmin | safe}}
        </style>
        <script src="/js/fa.js"></script>
    </head>

    <body>
        {% include 'header.html' %}

        {% if bucket %}
            {{ bucket.content | safe  }}
        {% endif %}

        {{ content | safe }}

        {% include 'footer.html' %}
    </body>

</html>
