<!DOCTYPE html>
<html>

    <head>
        <title>{{ title }}</title>
        {% set css %}{% include "css/reset.css" %}{% include "css/layout.css" %}{% endset %}
        <!-- feed it through our cssmin filter to minify -->
        <style>
            {{css | cssmin | safe}}
        </style>
        <script src="/js/fa.js"></script>
    </head>

    <body>
        {% include 'header.html' %}
        <main>
            {% if bucket %}
                {{ bucket.content | safe  }}

                {{ bucket.cta | ctaLink | safe }}

            {% endif %}

            {{ content | safe }}

        </main>
        {% include 'footer.html' %}
    </body>

</html>
