---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "My Blog about Boats",
    "subtitle": "I am writing about my experiences as a naval navel-gazer.",
    "url": "https://localhost:8080/",
    "feedUrl": "https://localhost:8080/feed.xml",
    "author": {
      "name": "Boaty McBoatFace",
      "email": "me@example.com"
    }
  }
}
---
<?xml version="1.0" encoding="UTF-8" ?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
  <channel>
    <title>{{ page.title }}</title>
    <description>{{ page.description | safe }}</description>
    <link>{{ request.url }}</link>
    <atom:link href="{{feedUrl}}" rel="self" type="application/rss+xml"/>
    <copyright>
      <![CDATA[ Copyright © {{ page.date.getFullYear() }}  {{metadata.author.name}}. ]]>
    </copyright>
    <managingEditor>
      <![CDATA[ {{metadata.author.name}} ]]>
    </managingEditor>
    <webMaster>
      <![CDATA[ {{metadata.author.name}} ]]>
    </webMaster>
    {% for item in collections.all %}
      {% set absolutePostUrl %}{{ item.url | url | absoluteUrl(metadata.url) }}{% endset %}
      <item>
        <title>{{ item.data.title }}{{ item.data.bucket.title }}</title>
        <description>
          {{ item.data.bucket.content | htmlToAbsoluteUrls(absolutePostUrl) }}
          {{ item.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}

        </description>
        <link>{{ absolutePostUrl }}</link>
        <guid>{{ absolutePostUrl }}</guid>
        <pubDate>{{ item.date | rssDate }}</pubDate>
      </item>
    {% endfor -%}
  </channel>
</rss>
